In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Gamba,GA,2022-11-02 05:52:30,-2.6500,10.0000,76.57,89,100,3.98
1,1,Atuona,PF,2022-11-02 05:52:31,-9.8000,-139.0333,77.07,75,4,11.83
2,2,Georgetown,MY,2022-11-02 05:51:16,5.4112,100.3354,84.13,88,20,5.99
3,3,Iqaluit,CA,2022-11-02 05:52:32,63.7506,-68.5145,29.93,92,100,21.85
4,4,Rikitea,PF,2022-11-02 05:47:58,-23.1203,-134.9692,70.03,63,47,17.90

In [3]:
#Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
temps

[76.57,
 77.07,
 84.13,
 29.93,
 70.03,
 75.36,
 66.96,
 63.0,
 43.68,
 53.22,
 85.95,
 65.53,
 81.07,
 67.75,
 81.45,
 79.25,
 69.62,
 48.43,
 15.39,
 26.91,
 38.91,
 74.84,
 48.42,
 59.86,
 65.32,
 12.87,
 37.38,
 76.37,
 69.19,
 75.25,
 74.93,
 5.52,
 79.66,
 6.8,
 66.22,
 73.6,
 86.29,
 56.41,
 60.85,
 60.85,
 80.69,
 60.73,
 58.78,
 62.26,
 74.52,
 44.71,
 39.94,
 85.68,
 86.94,
 80.42,
 20.12,
 74.62,
 73.02,
 58.05,
 61.36,
 72.88,
 59.41,
 73.67,
 77.09,
 58.91,
 45.93,
 79.52,
 58.55,
 0,
 80.33,
 35.78,
 78.78,
 27.19,
 67.33,
 41.25,
 84.52,
 81.12,
 73.26,
 38.1,
 86.05,
 60.31,
 52.88,
 48.07,
 87.96,
 53.24,
 62.01,
 76.33,
 38.34,
 37.06,
 57.7,
 56.75,
 86.36,
 70.11,
 24.96,
 3.33,
 69.19,
 78.28,
 44.35,
 61.3,
 6.51,
 19.18,
 70.9,
 80.19,
 55.31,
 71.53,
 73.35,
 67.24,
 56.12,
 39.94,
 63.54,
 30.2,
 56.82,
 6.84,
 77.54,
 50.22,
 44.71,
 53.28,
 35.58,
 32.4,
 22.08,
 77.68,
 68.29,
 40.91,
 15.37,
 76.82,
 65.8,
 16.7,
 60.76,
 22.51,
 86.99,
 45.52,
 62.89,
 42.71,
 74.75,
 15.58,
 59.0,
 55.8,
 86.7,
 75.11,
 61.11,
 65.25,
 84.2,
 7.9,
 46.2,
 83.5,
 85.05,
 26.37,
 60.64,
 84.7,
 59.09,
 57.81,
 40.06,
 58.21,
 57.9,
 78.85,
 72.86,
 60.1,
 71.13,
 54.37,
 52.75,
 12.31,
 46.76,
 35.38,
 83.05,
 52.34,
 82.44,
 54.9,
 76.68,
 25.3,
 65.17,
 74.35,
 85.53,
 60.31,
 77.36,
 51.78,
 37.17,
 76.06,
 48.4,
 68.77,
 52.25,
 76.78,
 84.24,
 25.03,
 42.46,
 66.38,
 46.42,
 91.85,
 0,
 72.01,
 60.1,
 0,
 46.47,
 51.66,
 69.37,
 25.5,
 82.35,
 41.81,
 89.6,
 51.76,
 10.6,
 42.75,
 59.68,
 55.38,
 65.17,
 43.92,
 76.89,
 39.7,
 75.65,
 48.07,
 0,
 14.13,
 77.99,
 47.3,
 74.44,
 77.77,
 59.11,
 81.41,
 71.69,
 0,
 81.61,
 87.26,
 61.45,
 28.65,
 65.59,
 48.61,
 27.45,
 78.85,
 52.05,
 77.38,
 68.97,
 65.48,
 58.8,
 81.48,
 69.78,
 70.32,
 76.93,
 57.94,
 83.71,
 83.93,
 66.87,
 81.73,
 55.4,
 69.15,
 61.32,
 59.25,
 72.9,
 90.05,
 57.76,
 81.41,
 84.06,
 16.09,
 78.22,
 56.16,
 69.93,
 33.24,
 72.3,
 81.95,
 71.82,
 41.23,
 43.65,
 25.11,
 52.05,
 50.02,
 48.25,
 35.29,
 75.34,
 51.3,
 47.32,
 75.63,
 65.5,
 72.0,
 63.28,
 63.84,
 64.89,
 73.92,
 37.0,
 59.13,
 7.3,
 75.04,
 54.1,
 51.69,
 84.42,
 55.51,
 70.74,
 66.65,
 49.24,
 87.96,
 49.3,
 78.26,
 57.56,
 16.63,
 49.95,
 65.3,
 65.43,
 83.14,
 82.02,
 86.61,
 27.99,
 81.25,
 41.67,
 69.57,
 37.08,
 61.97,
 81.3,
 79.25,
 79.14,
 77.29,
 60.94,
 62.58,
 77.27,
 73.26,
 67.12,
 38.48,
 84.67,
 67.06,
 34.92,
 53.91,
 72.68,
 0,
 50.0,
 32.14,
 55.62,
 39.58,
 57.09,
 33.24,
 82.85,
 32.68,
 39.67,
 51.66,
 63.21,
 84.61,
 66.04,
 82.17,
 50.13,
 74.61,
 60.91,
 70.02,
 52.84,
 27.55,
 78.01,
 43.39,
 63.7,
 65.1,
 28.78,
 60.06,
 57.88,
 19.17,
 71.6,
 64.33,
 61.21,
 31.08,
 67.66,
 42.37,
 45.68,
 59.95,
 83.16,
 33.64,
 31.55,
 27.05,
 26.28,
 42.08,
 45.45,
 61.02,
 35.35,
 86.61,
 0.79,
 62.01,
 53.74,
 82.58,
 51.66,
 78.66,
 86.67,
 72.72,
 71.4,
 35.11,
 44.92,
 79.93,
 49.82,
 50.72,
 72.91,
 74.62,
 59.18,
 35.01,
 49.89,
 48.87,
 14.43,
 70.29,
 41.18,
 31.98,
 64.06,
 28.81,
 82.69,
 56.64,
 76.89,
 59.76,
 19.09,
 22.32,
 32.11,
 55.71,
 82.99,
 4.69,
 78.98,
 29.91,
 82.83,
 86.59,
 59.41,
 0,
 74.86,
 83.75,
 5.16,
 18.23,
 77.54,
 58.8,
 48.16,
 21.42,
 79.61,
 50.79,
 91.51,
 63.14,
 68.0,
 73.24,
 73.24,
 26.19,
 22.24,
 73.62,
 75.56,
 82.49,
 53.62,
 86.11,
 79.56,
 34.27,
 23.11,
 46.99,
 75.36,
 43.16,
 64.9,
 26.73,
 67.82,
 35.22,
 78.58,
 64.0,
 60.35,
 59.61,
 33.51,
 82.9,
 75.06,
 82.27,
 85.35,
 106.12,
 84.94,
 44.94,
 75.69,
 60.85,
 80.28,
 0,
 62.71,
 19.45,
 13.14,
 93.43,
 76.64,
 73.51,
 44.92,
 78.39,
 59.76,
 50.47,
 69.37,
 46.35,
 0,
 85.01,
 30.94,
 69.82,
 37.18,
 75.97,
 69.01,
 40.01,
 62.37,
 87.94,
 86.05,
 49.69,
 86.2,
 80.55,
 51.69,
 26.87,
 79.77,
 73.72,
 77.74,
 84.09,
 45.05,
 53.6,
 75.0,
 81.61,
 78.12,
 70.2,
 78.75,
 75.42,
 71.56,
 76.91,
 57.69,
 38.32,
 40.46,
 49.42,
 85.26,
 69.44,
 30.85,
 33.62,
 76.32,
 57.85,
 73.69,
 69.44,
 18.88,
 62.85,
 66.45,
 55.51,
 69.53,
 33.17,
 76.69,
 81.43,
 5.34,
 32.7,
 70.21,
 70.61,
 42.49,
 84.69,
 40.12,
 74.16,
 16.36,
 77.34,
 80.65,
 51.03,
 89.94,
 78.53,
 80.1,
 91.0,
 55.89,
 74.57,
 78.69,
 28.85,
 73.74,
 41.77,
 83.73,
 79.14,
 79.11,
 20.55,
 61.77,
 69.78,
 38.37,
 82.62,
 67.41,
 73.17,
 54.39,
 44.38,
 64.29,
 69.28,
 59.97,
 76.37,
 74.46,
 42.98,
 92.01,
 49.89,
 41.02,
 28.4,
 82.98,
 76.48,
 70.18,
 16.72,
 78.76,
 0,
 78.15,
 44.01,
 52.39,
 48.85,
 73.36,
 59.56,
 44.55,
 77.92,
 35.38,
 78.75]

In [7]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.0)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [12]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Gamba,GA,2022-11-02 05:52:30,-2.6500,10.0000,76.57,89,100,3.98
1,1,Atuona,PF,2022-11-02 05:52:31,-9.8000,-139.0333,77.07,75,4,11.83
2,2,Georgetown,MY,2022-11-02 05:51:16,5.4112,100.3354,84.13,88,20,5.99
5,5,Vaini,TO,2022-11-02 05:52:34,-21.2000,-175.2000,75.36,100,100,8.05
10,10,Tual,ID,2022-11-02 05:52:37,-5.6667,132.7500,85.95,68,88,2.77
12,12,Hithadhoo,MV,2022-11-02 05:52:39,-0.6000,73.0833,81.07,77,98,15.84
14,14,Butaritari,KI,2022-11-02 05:52:40,3.0707,172.7902,81.45,69,80,13.78
15,15,Mahebourg,MU,2022-11-02 05:52:40,-20.4081,57.7000,79.25,78,40,16.11
27,27,Winneba,GH,2022-11-02 05:52:47,5.3511,-0.6231,76.37,88,15,3.67
29,29,Avarua,CK,2022-11-02 05:52:48,-21.2078,-159.7750,75.25,73,75,12.66

In [13]:
preferred_cities_df.count()

City_ID       154
City          154
Country       154
Date          154
Lat           154
Lng           154
Max Temp      154
Humidity      154
Cloudiness    154
Wind Speed    154
dtype: int64

In [18]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df

            City Country  Max Temp      Lat       Lng Hotel Name
0          Gamba      GA     76.57  -2.6500   10.0000
1         Atuona      PF     77.07  -9.8000 -139.0333
2     Georgetown      MY     84.13   5.4112  100.3354
5          Vaini      TO     75.36 -21.2000 -175.2000
10          Tual      ID     85.95  -5.6667  132.7500
..           ...     ...       ...      ...       ...        ...
557       Gerash      IR     76.48  27.6652   54.1371
560  Port-Gentil      GA     78.76  -0.7193    8.7815
562         Soyo      AO     78.15  -6.1349   12.3689
569     Benguela      AO     77.92 -12.5763   13.4055
571  La Asuncion      VE     78.75  11.0333  -63.8628

[154 rows x 6 columns]

In [19]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index,"Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [20]:
hotel_df

            City Country  Max Temp      Lat       Lng            Hotel Name
0          Gamba      GA     76.57  -2.6500   10.0000
1         Atuona      PF     77.07  -9.8000 -139.0333           Villa Enata
2     Georgetown      MY     84.13   5.4112  100.3354        Cititel Penang
5          Vaini      TO     75.36 -21.2000 -175.2000   Keleti Beach Resort
10          Tual      ID     85.95  -5.6667  132.7500     Grand Vilia Hotel
..           ...     ...       ...      ...       ...                   ...
557       Gerash      IR     76.48  27.6652   54.1371  Sa'adat House Gerash
560  Port-Gentil      GA     78.76  -0.7193    8.7815    Fengshui Residence
562         Soyo      AO     78.15  -6.1349   12.3689  Hospedaria ndozi'ame
569     Benguela      AO     77.92 -12.5763   13.4055    Hotel Praia Morena
571  La Asuncion      VE     78.75  11.0333  -63.8628  Colinas de Matasiete

[154 rows x 6 columns]

In [25]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]